@use "./variables" as v;
@use "./mixins" as m;

/*-======== best-selling-area =======-*/

.best-selling-area {
  position: relative;
  height: 100%;
  /*-======== best-wrapper =======-*/

  .best-wrapper {
    width: 515px;
    @media #{v.$device-480px} {
      width: 100%;
    }

    .section-heading {
      .section__title {
        font-size: v.$font-size-48;
        font-weight: 400;
        line-height: 50px;
        color: v.$color-5;
        margin-bottom: 20px;
      }
      .section__desc {
        color: v.$color-10;
      }
    }
  }
  /*-======== best-item-list =======-*/
  .best-item-list {
    margin-top: 60px;
    .card-item {
      @include m.border-radius(20px);
      padding: 30px;
      position: relative;
      cursor: pointer !important;
      @include m.transition(0.4s);
      overflow: hidden;

      .card-img {
        img {
          width: 100%;
          height: 100%;
          margin-bottom: 20px;
        }
      }
      .card-content {
        color: v.$color-5;
        .card-heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .card-title {
            color: v.$color-5;
            @media #{v.$small_mobile} {
              font-size: v.$font-size-28 !important;
            }
          }
          .shoping-icon {
            cursor: pointer;
            font-size: v.$font-size-30;
            background: v.$color-6;
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 50px;
            @include m.border-radius(50px);
            color: v.$theme-color-6;
          }
        }
        .card-desc {
          color: v.$color-10;
          margin-top: 9px;
        }

        .info-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            color: v.$color-5;
            font-size: v.$font-size-24;
            margin: 20px 0;
          }
          ul {
            li {
              display: inline-block;
              margin-right: 8px;
              color: v.$color-12;
              &:nth-last-child(-n + 2) {
                color: v.$color-8;
              }
            }
          }
          .heart-icon {
            font-size: v.$font-size-26;
            @include m.transition(0.4s);
          }
        }
        .view-more {
          opacity: 0;
          overflow: hidden;
          @include m.transition(0.5s);

          .sec_meta {
            font-size: 15px;
          }
        }
      }
      &:hover {
        .heart-icon {
          color: v.$color-6;
        }
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      }
      &:hover {
        .view_show {
          opacity: 1;
          overflow: visible;
          padding-top: 10px;
        }
      }
      @media #{v.$laptop_m_three} {
        margin-bottom: 30px;
      }
      @media #{v.$tab_device} {
        margin-bottom: 30px;
      }
      @media #{v.$large_mobile} {
        margin-bottom: 30px;
      }

      @media #{v.$small_mobile} {
        margin-bottom: 30px;
      }
    }
  }
  &::before {
    background-image: url("../../images/blog-bg.png");
    background-position: center;
    background-size: cover;
    content: "";
    height: 20%;
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 24%;
    transition: all 0.7s;
    width: 100%;
  }
}
